.root {
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px;
    gap: 30px;
}

.banner {
    background-color: yellow;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#gameTitle {
    color: black;
    font-size: 32px;
    unity-font-style: bold;
    unity-text-align: middle-center;
}

#startButton {
    background-color: yellow;
    border-color: black;
    border-width: 2px;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    width: 160px;
    height: 50px;
}

#exitButton {
    background-color: yellow;
    border-color: black;
    border-width: 2px;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    width: 160px;
    height: 50px;
}
